/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ps-dark: #010100;
    --ps-darker: #1e1e1f;
    --ps-light-gray: #7b7b7a;
    --ps-gray: #373637;
    --ps-light: #fff;
    --ps-danger: #cd3c0e;
    --ps-primary: #2d64e6;
    --ps-primary-light: #358ed9;
    --ps-primary-dark: #00429d;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--ps-dark);
}

img{
    max-width: 100%;
}

.jumbotron,
.takes_two{
    width: 100%;
    background-size: cover;
    background-position-x: center;
}

/* #endregion Common */

/* #region Header */

header{
    background-color: var(--ps-dark);
}

header img{
    width: 80px;
}

/* #endregion Header */

/* #region Main */

.navbar{
    background-color: var(--ps-light);
}

.nav-link{
    color: var(--ps-dark);
}

.navbar .btn{
    background-color: var(--ps-gray);
    color: var(--ps-light);
}

.search_icon a{
    color: var(--ps-gray);
    vertical-align: middle;
}

.jumbotron{
    height: 580px;
    background-image: url(../img/jumbo-bg.png);
    color: var(--ps-light);
}

.jumbotron .btn{
    width: 125px;
    background-color: var(--ps-danger);
    color: var(--ps-light);
}

.no_limit{
    color: var(--ps-primary);
    font-weight: bold;
}

.subtitle{
    color: var(--ps-light-gray);
    font-weight: bold;
}

.playstation5 .btn{
    width: 180px;
    background-color: var(--ps-primary);
    color: var(--ps-light);
}

.ps5_carousel .card-text{
    color: var(--ps-light-gray);
}

.ps5_carousel div.ps_active{
    border-bottom: 3px solid var(--ps-primary-light);
}

.ps5_carousel p.ps_active{
    color: var(--ps-dark);
}

.takes_two{
    height: 620px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    color: var(--ps-light);
}

.takes_two .btn{
    width: 125px;
    background-color: var(--ps-danger);
    color: var(--ps-light);
}

.releases{
    background-color: var(--ps-darker);
    color: var(--ps-light);
}

.playstation4 .btn{
    background-color: var(--ps-primary);
    color: var(--ps-light);
}

/* #endregion Main */

/*
TO DO...
    1) active card in carousel
*/