/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ps-dark: #010100;
    --ps-gray: #373637;
    --ps-light: #fff;
    --ps-danger: #cd3c0e;
    --ps-primary: #2d64e6;
    --ps-primary-light: #358ed9;
    --ps-primary-dark: #00429d;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
}

img{
    max-width: 100%;
}

/* #endregion Common */

/* #region Header */

header{
    background-color: var(--ps-dark);
}

header img{
    width: 80px;
}

/* #endregion Header */

/* #region Main */

.navbar{
    background-color: var(--ps-light);
}

.nav-link{
    color: var(--ps-dark);
}

.navbar .btn{
    background-color: var(--ps-gray);
    color: var(--ps-light);
}

.search_icon a{
    color: var(--ps-gray);
    vertical-align: middle;
}

.jumbotron{
    height: 580px;
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
    color: var(--ps-light);
}

.jumbotron .btn{
    width: 125px;
    background-color: var(--ps-danger);
    color: var(--ps-light);
}

/* #endregion Main */